<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Твои проекты</h1>
    <form id="projectForm">
        <input type="text" id="title" placeholder="Название" required>
        <input type="link" id="link" placeholder="Ссылка на репозиторий" required>
        <button type="submit">Добавить</button>
    </form>

    <button id="clearAll" class="danger-btn">Очистить портфолио</button>

    <ul id="projectList"></ul>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>